html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
    background: rgb(34,45,102);
    background: linear-gradient(0deg, rgba(34,45,102,1) 40%, rgba(84,99,173,1) 100%);
}

h1 {
  margin: 0;
  /* margin-bottom: 40px; */
  align-self: flex-start;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* text-align: center; */
  min-height: 100vh;
  height: 100%;
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.screen {

  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  min-height: 850px;
  height: calc(100vh - 76px);
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  /* padding-bottom: 76px; */

}

.header {
  display: flex;
  justify-content: space-between;

}

.awssld {
--slider-height-percentage: 60% !important;
--slider-transition-duration: 700ms !important;
--organic-arrow-thickness: 3px !important;
--organic-arrow-border-radius: 0px !important;
--organic-arrow-height: 20px !important;
--organic-arrow-color: #ffffff !important;
--control-button-width: 5% !important;
--control-button-height: 5% !important;
--control-button-background: transparent !important;
--control-bullet-color: #ffffff !important;
--control-bullet-active-color: #ebebeb !important;
--loader-bar-color: #851515 !important;
--loader-bar-height: 6px !important;
}

.awssld__bullets {
  bottom: -25px !important;
}

.awssld__bullets button {
  height: 8px !important;
  width: 8px !important;
}

.awssld__container {
  /* height: 100% !important; */
  min-height: 400px;

}

.awssld__content {
  background: rgb(34,45,102);
  background: linear-gradient(0deg, rgba(34,45,102,1) 40%, rgba(84,99,173,1) 100%);
}

.awssld__content img {
  margin-left: 5%;
  width: 90%;
  /* min-height: 667px; */
}

.controls {
  /* display: flex; */
  padding: 30px;
}

.MuiBottomNavigation-root {
  /* align-self: flex-end; */
  /* background-color: #3068ad; */
  padding-bottom: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.MuiFormControlLabel-labelPlacementTop {
  margin-left: 2px !important;

}

.MuiPickersStaticWrapper-staticWrapperRoot {
  margin: -20px !important;
}

.MuiPickersBasePicker-container {
  display: flex;
  align-items: center;
}

.MuiPickersToolbar-toolbar {
  width: 100%;
}

.App-link {
  color: #61dafb;
}
